/* browser reset */
* {
    margin: 0;
    padding: 0;
}

/* "grund-styling" der skal gælde for alle skærmbredder kommer her: */
body {
    font-family: helvetica, arial, sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 7px;
}
.logo, .hovedmenu, .undermenu, article, aside, footer {
    background: #ddd;
    outline: 1px solid #666;
    width: 100%;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 40px;
}
.hovedmenu {
    height: 40px;
}
article {
    flex-direction: column;
    background: white;
    outline: none;
}
.undermenu {
    display: none;
}
aside {
    display: none;
}
footer {
    height: 60px;
}
img {
    max-width: 100%;
    height: auto;
}
p {
    margin-top: 15px;
}