/* browser reset */
* {
    margin: 0;
    padding: 0;
}

/* simpel menu til højre og logo til venstre */
section {
    margin-bottom: 60px;
}
.simple {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    padding: 15px;
}   
.simple a {
    text-decoration: none;
    color: coral;
}
.simple nav a:hover {
    color: dodgerblue;
}
.simple nav {
    display: flex;
    width: 400px;
    justify-content: space-around;
}

/* faneblade */
.tabs {
    border-bottom: 1px solid #666;
    display: flex;
    justify-content: center;
}
.tabs nav {
    display: flex;
    width: 600px;
    justify-content: space-around;
    font-family: helvetica, sans-serif;
}
.tabs nav a {
    border: 1px solid #666;
    padding: 10px 20px;
    margin-bottom: -1px;
    background-image: linear-gradient(#ddd, #ccc);
    text-decoration: none;
    color: #333;
    border-radius: 6px 6px 0 0;
}
.tabs nav a:hover {
    background-image: linear-gradient(#eee, #ddd);
}
.tabs nav .active, .tabs nav .active:hover {
    background-image: none;
    border-bottom-color: white;
}

/* knapper på række */
.knapper {
    display: flex;
    justify-content: center;
}
.knapper nav {
    width: 600px;
    display: flex;
    justify-content: space-around;
}
.knapper nav a {
    text-decoration: none;
    font-family: helvetica, sans-serif;
    font-weight: 700;
    border: 1px solid darkorange;
    border-radius: 40px;
    padding: 15px 25px 15px 25px;
    background-image: linear-gradient(orange, darkorange);
    color: #603000;
    width: 60px;
    text-align: center;
}

/* drop-down */
.menu-container {
    position: relative;
    z-index: 2; 
    margin-bottom: 160px;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5496ac;
    height: 3em;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}
.menu a:hover {
    background: #60a9c1;
}
.menu ul {
    display: flex;
    list-style: none;  
}
.menu ul li {
    width: 100%;
}
.dropdown {
    display: flex;
    flex-direction: column;
} 
.dropdown li {
    display: none;
}
.menu li:hover .dropdown li {
    display: flex;
    flex-direction: column;
}

/* billedlinks ("cards") */
.image-links {
    display: flex;
    justify-content: center;
}
.image-links img {
    width: 320px;
}
.infobox {
    position: relative;
    display: flex;
    margin: 0.7em;
}
.infotext {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 100%;
    /* sort rgb-farve med alpha-kanel (alpha styrer gennemsigtelighed) */
    background: rgba(00, 00, 00, 0.6);
    color: white;
    /* 1em er det samme som default størrelse */
    font-size: 1.2em;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}
.infobox:hover .infotext {
    visibility: visible;
    opacity: 1;
}